
@font-face {
  font-family: 'Font';
  src: url('../fonts/font.woff2'),
       url('../fonts/font.woff');
}

body {
    text-align: center;
    background-color: darkgray;
    position: relative;
    font-family: 'Font';
}

#chapter {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    width: 50%;
    margin: 0px auto;
    border-bottom: solid 2px black;
}

#chapter p {
    color: #505050;
    font-size: 30px;
}

.main-title {
    font-size: 130px;
    margin-top: 30px;
    color: #505050;
}

.subscript {
    font-size: 23px;
    margin-top: 0px;
}

.interpreted {
  color: red;
  will-transition;
  transition: text-shadow 500ms cubic-bezier(.32,1.18,.82,.9);
}

.interpreted:hover {
  cursor: pointer;
  text-shadow: 1px 2px 3px;
}

#footer {
  padding: 30px 0px;
  margin: auto;
  width: 100%;
  height: 150px;
  font-size: 20px;
  margin-bottom: 50px;
}

.donation-line {
  margin-top: 15px;
}
.donation-label {
  display: inline-block;
  width: 90px;
  text-align: left;
}
.donation-address{
  display: inline-block;
  width: 300px;
  text-align: left;
}

#overlay {
    display: none;
    position: fixed;
    opacity: 90%;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(at 50% 37vh,#D0D0D0,#808080,#606060);
    text-align: center;
    padding-top: 32vh;
}
#overlay-title {
    font-size: 40px;
}
#overlay-pretext {
    margin: 10px auto;
    color:	#484848;
    font-size: 21px;
    width: 50%;
}
#overlay-body {
    margin: 5px auto;
    font-size: 26px;
    width: 40%;
    max-width: 450px;
}
#overlay-subscript {
  font-size: 21px;
}

#tweet {
    color: #38A1F3;
}

#twitter-overlay {
    display: none;
    position: fixed;
    height: 120vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(at 50% 37vh,#D0D0D0,	#808080,#606060);
    text-align: center;
    backdrop-filter: blur(3px);
}

#twitter-box {
  max-width: 30%;
  margin-top: 20%;
  margin: auto;
}

#twitter-title {
  font-size: 30px;
  margin: 30px auto;
}

@media screen and (max-width: 1300px) and (min-width: 651px) {
    #chapter {
      width: 60%;
    }

    #overlay-pretext {
      width: 65%;
    }

    #overlay-body {
        width: 60%;
    }

    .main-title {
        font-size: 100px;
    }

    #twitter-box {
      max-width: 50%;
    }
}

@media screen and (max-width: 650px) {
    #chapter {
      width: 100%;
    }
    #chapter p {
      font-size: 26px;
      margin: 22px auto;
    }

    #overlay-pretext {
      width: 85%;
    }

    #overlay-body {
        width: 80%;
    }

    .main-title {
        font-size: 65px;
    }
    .subscript {
        font-size: 18px;
    }
    .donation-address, .donation-label {
      text-align: center;
      font-size: 17px;
    }

    #overlay {
        background-image: radial-gradient(at 50% 37vh,#E8E8E8,#D0D0D0,#808080);
    }

    #footer {
      height: 350px;
    }
    #twitter-box {
      max-width: 85%;
    }
}

@media screen and (max-device-width: 650px) {
    #chapter {
      width: 100%;
    }
    #chapter p {
      font-size: 25px;
      margin: 22px auto;
    }

    .main-title {
        font-size: 56px;
    }
    .subscript {
        font-size: 18px;
    }

    #overlay {
        background-image: radial-gradient(at 50% 37vh,#E8E8E8,#D0D0D0,#808080);
        padding-top: 26vh;
    }
    #overlay-title {
        font-size: 65px;
    }
    #overlay-pretext {
        margin: 5px auto;
        color:	#484848;
        font-size: 24px;
        width: 75%;
    }
    #overlay-body {
        min-width: 90vw;
        margin: 5px auto;
        font-size: 28px;
    }
    #overlay-subtext {
        font-size: 20px;
    }

    #footer {
      margin-top: 18px;
      height: 600px;
      text-align: center;
    }
    #footer-title {
      font-size: 30px;
    }
    .donation-label, .donation-address {
      text-align: center;
    }
    .donation-label {
      font-size: 24px;
    }
    .donation-address {
      font-size: 17px;
    }
    #twitter-title {
      font-size: 32px;
      margin: 40px auto;
    }
    #twitter-box {
      max-width: 85%;
    }
}

