
@font-face {
  font-family: 'MyTestFont';
  src: url('../fonts/font.woff2'),
       url('../fonts/font.woff');
}

body {
    text-align: center;
    background-color: darkgray;
    position: relative;
    font-family: 'MyTestFont';
}

.chapter {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    width: 50%;
    margin: 0px auto;

}

.chapter p {
    color: #696969;
    font-size: 30px;
}

.main-title {
    font-size: 130px;
    margin-top: 30px;
    color: #505050;
}

.subscript {
    font-size: 23px;
    margin-top: 0px;
}

.interpreted {
  color: red;
}

.interpreted:hover {
  cursor: pointer;
  text-shadow: 3px 3px 3px;
}

#overlay {
    display: none;
    position: fixed;
    opacity: 90%;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(at 50% 37vh,#D0D0D0,#808080,#606060);
    text-align: center;
    backdrop-filter: blur(4px);
    padding-top: 35vh;
}

#overlay-title {
    font-size: 40px;
}
#overlay-pretext {
    margin-top: 10px;
    color:	#484848;
    font-size: 21px;
}
#overlay-body {
    margin: 5px auto;
    font-size: 26px;
    width: 40%;
    max-width: 450px;
}
#overlay-subscript {
  font-size: 21px;
}


@media screen and (max-width: 1300px) {
    .chapter {
      width: 60%;
    }

    #overlay-body {
        width: 60%;
    }

    .main-title {
        font-size: 100px;
    }
}

@media screen and (max-width: 650px) {
    .chapter {
      width: 100%;
    }
    .chapter p {
      font-size: 26px;
      margin: 22px auto;
    }

    #overlay-body {
        width: 80%;
    }

    .main-title {
        font-size: 65px;
    }

    .subscript {
        font-size: 18px;
    }

    #overlay{
        background-image: radial-gradient(at 50% 37vh,#E8E8E8,#D0D0D0,#808080);
    }
}


#tweet {
    color: #38A1F3;
}

#twitter-overlay {
    display: none;
    position: fixed;
    opacity: 90%;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(at 50% 37vh,#D0D0D0,	#808080,#606060);
    text-align: center;
    backdrop-filter: blur(3px);
    padding-top: 35vh;
}

